/* 
font-family: 'Allison', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'WindSong', cursive;
 */

:root{
    --mainColor:#fc81a3;
    --mainFont: 'Anton', sans-serif;
    --lightBlack: rgba(0,0,0,.75);

}
body{
    color: var(--lightBlack);
font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;

}

li {
    list-style-type: none;
}

img {
    width: 100%;
}
span{color: var(--mainColor);}
/* ganerller  */
.mainsection {
    margin-top: 50px;

    padding: 80px 0;
}
.sectionHeader{
    text-align: center;
    font-weight: 900;
    font-size: 90px;
    font-family: var(--mainFont);
    color:var(--mainColor)
    
}
hr {
    border: 0;
    width: 20%;
    margin: 0 auto;
    background-color: var(--mainColor);
}
/* Navbar */
.navbar-brand{
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    font-size: 38px;
font-family: 'WindSong', cursive;
    letter-spacing: 2px;
}
.navbar-brand::after{
    content: " 🔥 ";
    font-size: 20px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {

    text-shadow: 0 0 5px var(--mainColor), 0 0 5px var(--mainColor);
    color: var(--whiteColor);
    font-size: 40px;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    font-family: var(--mainFont);
    color: var(--mainColor);
    font-weight: 700;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
    font-family: var(--mainFont);
    font-weight: 700;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-size: 25px;
    color: var(--whiteColor);
    text-shadow: 0 0 5px var(--mainColor), 0 0 5px var(--mainColor);

}

/* Home */

/* ************************************************************

***************************************************************/
.home {
    text-transform: capitalize;

}

.home-details {
    padding-top: 18vh;
    text-align: center;
}

.home-details h1 {
/* color:  rgba(0,0,0,.55); */
font-family: 'WindSong', cursive;
    font-size: 80px;
    text-shadow: 0 0 1px var(--mainColor), 0 0 1px var(--mainColor);
    
}
.home-details h3{
    font-size: 20px;
    text-transform: capitalize;

    /* color:  rgba(0,0,0,.55); */
}

.home .more{
    margin-top: 30px;
}
.home .more a{
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    border: 1px solid  var(--mainColor) ;
    background-color: var(--mainColor);
    color: aliceblue;
}

/* ************************************************************

***************************************************************/
/* About */
.About{
    /* text-align: center; */
    color: var(--lightBlack);
}
.AboutDetails{
    padding-top: 80px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.About .links a{
    margin-right: 5%;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: var(--mainColor);
    border-width: 1px;
    border-style: solid;
}
.About .links a.download{
    background-color: var(--mainColor);
    color: aliceblue;
}
.About .links a.contact{
    color: var(--mainColor);
}



@media only screen and (max-width: 780px){
    .About .links a{
        margin-bottom: 5%;
    }
    .AboutDetails{
    margin-bottom: 2%;
    /* WIDTH: 91%; */
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    }

}

/* ************************************************************

***************************************************************/












/* Footer  */

/* ************************************************************

***************************************************************/
footer{
    background-color:rgba(71, 71, 71, 0.973);
margin:0;
}


.ContactMe {
    padding-top: 7%;
    /* margin-top: 10%; */
    /* margin-bottom: 11%; */
}

.ContactMe h3 {
    padding-bottom: 1%;
}


.ContactMe .icon {
    text-align: center;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:var(--mainColor);
    color: #fff;
}

.ContactMe form input {
    margin: 0 auto;
    display: block;
    width: 100%;
    margin-top: 1%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.ContactMe form input[type=email] {
    display: block;
}

.ContactMe form input[type=submit] {

    color: var(--mainGreen);
    width: 100px;
    text-transform: uppercase;
    font-weight: 700;
    height: 40px;
    font-size: 15px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;

}

.ContactMe form textarea {
    margin-top: 1%;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.ContactMe h4 {
    font-family: 'WindSong', cursive;
font-weight: 900;
    font-size: 40px;
}

.footer h6 {
    font-weight: 600;
    font-size: 15px;
}
